.grid-container {
  display: grid;
  grid-template-columns: 220px 400px auto;
  gap: 10px;
  padding: 1px;
  margin: 100px;
}

.grid-container > div {
  padding: 20px 0;
  font-size: 30px;
}

.item3 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
}

.button {
  font-family: sans-serif;
  font-size: 28px;
  color: grey;
  background-color: #cccc;
  padding: 50px;
  width: 100px;
  margin: 10px;
}

body .titel {
  font-family: arial bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #148a8a;
}

body .tekst {
  font-family: arial;
  font-size: 14px;
  color: #777;
}

body .opvallend {
  font-family: arial bold;
  font-size: 16px;
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: #8ac74e;
  border: solid #77ae44;
  width: 173px;
}

body h3 {
  font-family: arial bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #148a8a;
  width: 200px;
  margin: 10px;
}
